In [1]:
import pandas as pd
import pymongo

df = pd.read_csv('data.csv')
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [7]:
# df should be converted into dict before we push it to mongodb

data = df.to_dict(orient='records')
#data

In [ ]:
DB_NAME = "Proj1"
COLLECTION_NAME = "Proj1-Data"
CONNECTION_URL = 'mongodb+srv://chaitanyatulluri949_db_user:##@cluster0.dsiberl.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'

In [24]:
! pip install "pymongo[srv]==3.6"

Collecting pymongo==3.6 (from pymongo[srv]==3.6)
  Downloading pymongo-3.6.0.tar.gz (581 kB)
     ---------------------------------------- 0.0/581.3 kB ? eta -:--:--
     ---------------------------------------- 581.3/581.3 kB 4.7 MB/s  0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting dnspython<2.0.0,>=1.13.0 (from pymongo[srv]==3.6)
  Downloading dnspython-1.16.0-py2.py3-none-any.whl.metadata (1.8 kB)
Downloading dnspython-1.16.0-py2.py3-none-any.whl (188 kB)
Building wheels for collected packages: pymongo
  Building wheel for pymongo (pyproject.toml): started
  Building wheel for pymongo (pyproject.toml): finished with status 'done'
  Created wheel for pymongo: filename=pymongo-3.6.0-cp313-cp313-win_amd64.whl size=256365 sha256=bc275fef2ecdc4496738ff7d78521abfff00648b4e9714f17657d98bc6edcb14
  Stored in directory: c:\users\tilak\appdata\local\pip\cache\wheels\e6\91\26\69890db6f4d11df0ef7018680e2bacdc8ed94084ee30736f7c
Successfully built pymongo
Installing collected packages: pymongo, dnspython

  Attempting uninstall: pymongo

    Found existing installation: pymongo 4.15.3

    Uninstalling pymongo-4.15.3:

      Successfully uninstalled pymongo-4.15.3

   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
   ---------------------------------------- 0/2 [pymongo]
  Attempting uninstall: dnspython
   ---------------------------------------- 0/2 [pymongo]
    Found existing installation: dnspython 2.8.0
   ---------------------------------------- 0/2 [pymongo]
   -------------------- ------------------- 1/2 [dnspython]
    Uninstalling dnspython-2.8.0:
   -------------------- ------------------- 1/2 [dnspython]
      Successfully uninstalled dnspython-2.8.0
   -------------------- ------------------- 1/2 [dnspython]
   -------------------- ------------------- 1/2 [dnspython]
   -------------------- ------------------- 1/2 [dnspython]
   -------------------- ------------------- 1/2 [dnspython]
   -------------------- ------------------- 1/2 [dnspython]
   -------------------- ------------------- 1/2 [dnspython]
   ---------------------------------------- 2/2 [dnspython]

Successfully installed dnspython-1.16.0 pymongo-3.6.0

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\tilak\AppData\Local\Programs\Python\Python313\Lib\site-packages\~son'.
  You can safely remove it manually.
  WARNING: Failed to remove contents in a temporary directory 'C:\Users\tilak\AppData\Local\Programs\Python\Python313\Lib\site-packages\~ymongo'.
  You can safely remove it manually.

In [26]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [27]:
# Uploading data to MongoDB
rec = collection.insert_many(data)

In [28]:
# Load back data from mongodb

df = pd.DataFrame(list(collection.find()))
df.head(2)

,_id,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,68fa1f8165316baf93b47d67,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,68fa1f8165316baf93b47d68,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0